
.gitattributes
*.xml
*.iml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
*.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
*.ninja
*.cmake
*.txt
*.bin
*.exe
*.c
*.cpp
*.check_cache
*.log
*.obj
